.NoPage {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 350px;
    height: 350px;
}

@media screen and (max-height: 700px) {
    h1 {
        width: 250px;
        height: 250px;
    }
}
