@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #a9a9a9; 
}

.containerCard {
    display: grid;
    grid-template-columns:auto auto auto auto auto auto;
    justify-content: flex-start;
    gap: 10px;
    align-items: start;

}


