form {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 10px rgb(87, 85, 85);
  border-radius: 10px;
  padding: 30px;
  gap: 20px;

}

.form-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.4vh;
}

.form-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.4vh;
  margin-left: 20px;
}

.input-field {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 0 solid;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.input-field:hover {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}

.input-field:focus {
  outline: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}

.submit-button {
  width: 20%;
  height: 5vh;
  align-self: flex-end;
  margin-top: auto;
  font-size: 20px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.submit-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  font-size: 22px;
}
